logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

node_modules/
.DS_Store
frontend/dist/
frontend/dist-ssr/
frontend/coverage
*.local

backend/BiomedCLIP-PubMedBERT_256-vit_base_patch16_224/
__pycache__/
*.spec
pip-log.txt
pip-delete-this-directory.txt
.cache

cypress/videos/
cypress/screenshots/

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
